<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Two Factor Authentication (2FA) - Validate TOTP with Google Authentication</title>
	<th:block th:replace="/scriptRender/javaScript :: javaScript"></th:block>
</head>
<body>
	<h1>Validar TOTP con Google Authentication</h1>

	<form method="POST" action="/">
		User ID :  <input type="text" name="username" id="username"/><br />
		TOTP Key:  <input type="text" name="totpKey" id="totpKey"/><br />
		<br /> <input type="button" value="Submit" onClick="validateTotp();"/>
	</form>

</body>
</html>